version: "3.3"
services:
    node:
        build: "./docker"
        command: "yarn dev:browser-sync"
        ports:
            - 9000:9000
        working_dir: "/app"
        volumes:
            - .:/app
