<ul class="henlo-list henlo-list--keywords">
  {{#each keywords}}
    <li class="henlo-list-item">
      <span class="{{concat 'chip chip--' ../keywordType }}">{{ . }}</span>
    </li>
  {{/each}}
</ul>
