@import url("https://fonts.googleapis.com/css?family=Barlow:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Karla:400,700");

:root {
    --brand-primary: #5400e5;
    --brand-primary-alt: hsla(262, 100%, 45%, 0.1);
    --cs-border: hsl(210, 10%, 85%);
    /*--brand-primary: hsl(233, 100%, 57%);*/
    /*--brand-primary: hsl(167, 60%, 61%);*/
    /*--brand-primary-alt: hsla(233, 100%, 57%, .1);*/
    /*--container-gutter: 140px;*/
    --container-width: 21.7cm;
    --text-secondary: #62666a;
    --section-title-color: hsl(210, 6%, 70%);

    --font-family-primary: Karla, Arial, sans-serif;
    --font-family-secondary: Barlow, Arial, sans-serif;
    /*--font-family-secondary2: 'Droid Serif', Arial, sans-serif;*/
}

* {
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #000000;
    font-family: var(--font-family-primary);
    font-size: 14px;
    line-height: 1.33;
    margin: 0;
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-secondary);
    line-height: 1.15;
}

h1,
h2 {
    font-weight: 900;
}

/**
 * Main layout.s
 */
.layout__content {
    display: grid;
    grid-gap: 0.33cm 1cm;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "header header header header header"
        "side1 side1 main main main"
        "side2 side2 main main main"
        "side3 side3 main main main"
        "side4 side4 main main main";
}

.section {
    grid-column: span 2;
}

.section--header {
    grid-column: span 5;
    /*grid-area: header;*/
}

.section--employment {
    grid-column: span 3;
    grid-row: 2 / -1;
    /*grid-area: main;*/
}

/*.section--education {
  grid-area: side1;
}

.section--languages {
  grid-area: side2;
}

.section--skills {
  grid-area: side3;
}

.section--interests {
  grid-area: side4;
}*/

/**
 * Global print styles.
 */
@media print {
    body {
        background-color: #ffffff; /* For phantomjs and wkhtmltopdf */
    }
}

@page {
    margin: 1.25cm;
}

/**
 * Preview.
 */
@media screen {
    /* Helps previewing stuff. */
    .layout__content {
        height: 29.7cm;
        padding: 1cm;
        width: 21cm;
    }
}

/**
 * Component
 * .chip
 */
.chip {
    background-color: #f4f4f4;
    color: #f481ab;
    display: inline-block;
    font-size: 0.92rem;
    font-weight: bold;
    line-height: 1;
    padding: 0.5em 0.25em 0em 0.25em;
}

.chip--primary {
    background-color: var(--brand-primary-alt);
    color: var(--brand-primary);
}

/**
 * Component
 * .hvpod
 */
.hvpod-block *:first-child {
    margin-top: 0;
}

.hvpod-block p:last-child,
.hvpod-element p:last-child {
    margin-bottom: 0;
}

#hvpod-block-item {
    margin-bottom: 20px;
}

.hvpod-title {
    font-size: 1rem;
    margin: 0;
    margin-top: 1em;
}

.hvpod-subtitle {
    color: var(--text-secondary);
    font-size: 1rem;
    margin: 0;
    margin-top: 0.33rem;
}

.hvpod-element {
    margin: 0;
    margin-top: 0.5rem;
}

.hvpod-element--highlights ul {
    list-style: disc;
    padding-left: 1.33rem;
}

.hvpod-element--highlights li {
    margin-bottom: 0.5rem;
}

.hvpod--education_degree,
.hvpod--job {
    display: flex;
}

.hvpod-subtitle em {
    font-style: normal;
    font-weight: bold;
}

.hvpod--job .hvpod-element--keywords {
    margin-top: 0.75rem;
}

.hvpod--education_degree {
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.hvpod--education_degree .hvpod-block {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.hvpod--education_degree .hvpod-block--date {
    color: var(--text-secondary);
    flex: 0 0 32px;
    order: 1;
}

.hvpod--education_degree .hvpod-block--main {
    flex: 1;
    order: 2;
}

.hvpod--education_degree .hvpod-element--summary {
    margin-top: 0.33rem;
}

.hvpod--language {
    display: flex;
}

.hvpod--language .hvpod-block {
    flex: 1;
    white-space: nowrap;
}

.hvpod--language .hvpod-block--main {
    flex: 0 0 70px;
}

/**
 * Component
 * .list
 */
.henlo-list {
    list-style: none;
    margin: 0px;
    padding: 3px;
}

.henlo-list-item {
    margin-bottom: 0.5rem;
}

.henlo-list--keywords .henlo-list-item,
.henlo-list--keywords .henlo-list-item {
    display: inline-block;
    margin-bottom: 0.4em;
    margin-left: 0.2em;
}

.henlo-list--info_contact {
    border-left: 2px solid var(--cs-border);
    padding-left: 1rem;
}

.henlo-list--info_contact .henlo-list-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.henlo-list--info_contact .henlo-list-item dt {
    display: none;
}

.henlo-list--info_contact .henlo-list-item dd {
    color: var(--text-secondary);
    flex: 1;
    margin-left: 0.5rem;
}

.henlo-list--info_contact .henlo-list-item a {
    color: inherit;
    text-decoration: none;
}

/**
 * Component
 * .gallery
 */
.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.gallery-item + .gallery-item {
    margin-top: 0.5rem;
}

/**
 * Component
 * .section
 */
.section {
    position: relative;
}

.section-title {
    color: var(--section-title-color);
    font-family: var(--font-family-secondary);
    font-size: 0.9rem;
    letter-spacing: 0.2em;
    margin: 0;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    border-bottom: 2px solid var(--cs-border);
    padding-bottom: 5px;
}

/**
 * Layout
 * .section--header
 */
.section--header {
    display: flex;
    flex-wrap: wrap;
}

.section--header .section-block--main {
    order: 1;
    flex: 1;
    margin-top: 2rem;
}

.section--header .section-block--contact {
    order: 2;
    margin-top: 2rem;
}

.section--header .section-block--contact + .section-block--contact {
    margin-left: 3rem;
}

.section--header .section-block--summary {
    order: 3;
}

.section--header .section-block--summary {
    width: 100%;
}

.section--header .section-title {
    color: #000;
    border-bottom: none;
    font-family: var(--font-family-secondary);
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.section--header .section-subtitle {
    /*color: var(--brand-primary);*/
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
}

.section--header .section-text {
    color: var(--text-secondary);
    font-size: 1.1rem;
    font-family: var(--font-family-secondary2);
    /* font-weight: 600; */
    line-height: 1.5;
    margin: 0;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.section--header .section-element--img {
    align-items: center;
    /*box-shadow: 2px 2px 0 var(--brand-primary), -2px -2px 0 var(--brand-primary);*/
    border: 2px solid var(--brand-primary);
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    justify-items: center;
    height: 3.5cm;
    margin-right: 2rem;
    order: 0;
    width: 2.5cm;
}

.section--header .section-element--img span {
    color: var(--brand-primary);
    display: block;
    font-size: 1.15rem;
    font-weight: 700;
}

/**
 * Layout
 * .section--employment
 */
.section--employment .gallery-item + .gallery-item {
    margin-top: 1rem;
}

/**
 * Layout
 * .section--skills
 */
.section--skills .gallery {
    display: grid;
    grid-gap: 1rem;
    /* grid-template-columns: 1fr 1fr; */
}

.section--skills .gallery-item {
    margin: 0;
}
